// IMPORTS
@import './src/stylesheets/main.scss';

.app-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    // DESKTOP
    &__link {
        padding-bottom: .25rem;
        font: $heading-font;
        font-size: 1.125rem;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;

        &--selected {
            border-bottom: 4px solid $accent-color;
            cursor: default;
        }
    }

    // MOBILE
    &__mobile-dropdown {
        background: red;
    }
}
