/**************
* MARGIN
**************/
// All around margins
.m-sm {
    margin: .25rem;
}

.m-md {
    margin: .5rem;
}

.m-lg {
    margin: 1rem;
}

// Left margin specs
.m-sm-l {
    margin-left: .25rem;
}

.m-md-l {
    margin-left: .5rem;
}

.m-lg-l {
    margin-left: 1rem;
}

// Right margin specs
.m-sm-r {
    margin-right: .25rem;
}

.m-md-r {
    margin-right: .5rem;
}

.m-lg-r {
    margin-right: 1rem;
}

// Top margin specs
.m-sm-t {
    margin-top: .25rem;
}

.m-md-t {
    margin-top: .5rem;
}

.m-lg-t {
    margin-top: 1rem;
}

// Bottom margin specs
.m-sm-b {
    margin-bottom: .25rem;
}

.m-md-b {
    margin-bottom: .5rem;
}

.m-lg-b {
    margin-bottom: 1rem;
}

/**************
* PADDING
**************/
// All around paddings
.p-sm {
    padding: .25rem;
}

.p-md {
    padding: .5rem;
}

.p-lg {
    padding: 1rem;
}

// Left padding specs
.p-sm-l {
    padding-left: .25rem;
}

.p-md-l {
    padding-left: .5rem;
}

.p-lg-l {
    padding-left: 1rem;
}

// Right padding specs
.p-sm-r {
    padding-right: .25rem;
}

.p-md-r {
    padding-right: .5rem;
}

.p-lg-r {
    padding-right: 1rem;
}

// Top padding specs
.p-sm-t {
    padding-top: .25rem;
}

.p-md-t {
    padding-top: .5rem;
}

.p-lg-t {
    padding-top: 1rem;
}

// Bottom padding specs
.p-sm-b {
    padding-bottom: .25rem;
}

.p-md-b {
    padding-bottom: .5rem;
}

.p-lg-b {
    padding-bottom: 1rem;
}
