@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

$heading-font: 'Oswald', sans-serif;
$font: 'Montserrat', sans-serif;

.txt-sm {
    font-size: .75rem;
}

.txt-md {
    font-size: 1rem;
}   

.txt-lg {
    font-size: 1.25rem;
}

.txt-x-lg {
    font-size: 1.5rem;
}