$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.link-underline {  
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0; right: 0;
        height: 2px;
        background-color: $accent-color;
        opacity: .2;
    }

    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }

    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: .5;
            transform: translateY(0);
        }

        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }

        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}