// IMPORTS
@import './src/stylesheets/main.scss';

.dropdown {
    &__list {
        position: absolute;
        margin: auto;
        width: 100%;
        text-align: center;
        right: 0;

        &-item {
            background-color: $main-color;
            color: white;
            font-size: 2rem;
            border-bottom: 1px solid white;

            &:hover, &:focus {
                background-color: $accent-color !important;
            }
        }
    }
}
